﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThongTin</title>
</head>
<body>
    <div>
    </div>
    <div class="main-content"> @RenderBody()</div>
</body>
</html>
